.image {
    width: 100%;
        padding: 20px 0px 20px 0px;
        height: 223px;
        object-fit: cover;
        border-radius: 40px;
}

.container {
    margin-bottom:30px;
}

.collapse2 {
    width:90%;
    margin: auto;
    
    
    
}

.cardpropos {
    padding: 0px 65px 0px 65px;
}

@media screen and (max-width:750px) {

    .cardpropos {
        padding: 0px 10px;
    }

    .collapse2 {
        width: 100%;
        
    }

    .collapse  {
        max-width: 95%;
    }
}

@media screen and (max-width:400px) {

    .collapse2 {

        max-width: 300px;
        margin-left: 0px;

    }

}