
.liens {
    display: flex;
    flex-direction: row;

   
}

.styledlink{
a {
    text-decoration: none;
    color: salmon;
}
a:hover {
    text-decoration: underline;

}


}



.hr {
        background-color:white;
        height: 2px;
        border-color:white;
        border: none;
        margin-top: 0px;
        width: 80%;
        display: none;
}




.styledlink {
    padding: 15px;
    color: salmon;
   
    font-size: 24px;
 
    cursor: pointer;


   

   
}



.nav {
    display: flex;
        justify-content: space-between;
        padding: 0px 65px 0px 65px;
}

.haerderimg {
        height: 80px;
        width: 100%;
        object-fit: cover
}






@media screen and (max-width:750px) {
    .liens {
        display: flex;
        flex-direction: row;
        
        
    }

    .styledlink {
        font-size: 12px;
    }

    .logo img {
        max-width: 145px;
    }


    
    
}